
:root {
  --txt: #DAAB68;
}

h1{
  color: black;
}

body{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}
.logo{
  display: flex;
  justify-content: center;
    align-items: center;
    margin-top: 21%;
    margin-left:10% ;
  padding: 15px 0;
    
}

  .box-1 {
    flex: 1;
    border: solid;
    
    background: url(/img/flying-whale.jpeg) no-repeat center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  }


  .box-2 {.
    flex: 1;
    border: solid;
    padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  ::backdrop
  color: var(--txt);
  background-color: black;
    
  }

.paragraph{
  margin-bottom: 50px;
  border:  solid 4px;
  padding: 20px;
  border-radius: 6px;
  color: var(--txt);
  background-color: black;
  
}

.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: solid thick;
  padding: 20px;
  border-radius: 6px;
  background-color: black;
}
legend{
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: var(--txt);
}

.input{
  display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 40%;
    font-size: 0.8rem;
    padding: 8px;
    color: var(--txt);
}
input{
  background-color: #DAAB68;
  opacity: 0.8;
}


.log-in{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  color: var(--txt);
  background-color: black;
  font-size: 1.2em;
}
a{
  color: #BC4E57;
}
button{
  background-color: black ;
  color:#DAAB68;
  font-weight: 700;
  font-size: 1.2em;
  border: 2px solid #DAAB68;
  border-radius: 5px;
  padding: 10px 40px;
  margin: 40px 0;
}

.sun-moon{
 height: 180px;
 width: 180px;
 float: right;
}

